<div class="container">
    
<div class="row">

<div class="card-trip new">
    
<div class="col-md-12 p-2 mt-5">

<div class="font-weight-bold text-center">
<h1>Forgot your password?</h1>
</div>
<br>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs p-4">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <center><%= f.button :submit, "Send me reset password instructions" %></center>
  </div>
  <br>
<% end %>

<center><%= render "devise/shared/links" %></center>
<br>

</div>
</div>
</div>
</div>
