<%= simple_form_for @emmend do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="font-weight-bold display-4 text-center">
  RELATE!
  </div>
  <br>
  <br>

  <div class="form-inputs d-flex">

    <div class="w-50 p-2">

      <%= f.input :thema, label: 'Tema', collection: ['Campanha Eleitoral de 2020', 'Reforma Administrativa', 'Privatização das Estatais', 'Queimadas no Pantanal', 'Volta às aulas durante à pandemia', 'Alta nos preços dos alimentos',  'Monopólio das Telecomunicações','5G', 'Meio Ambiente', 'Saúde', 'Segurança Pública', 'Reforma Tributária', 'Prisão em 2º Instância', 'Regulamentação da Regra de Ouro', 'Educação Domiciliar', 'Autonomia do Banco Central', 'Nova Lei de Falências', 'Novo marco legal do mercado de câmbio e capitais', 'Foro Privilegiado', 'PEC Paralela da Previdência', 'Novo marco regulatório do saneamento básico', 'Plano de Equilíbrio Fiscal dos estados', 'MP da Mobilidade Urbana', 'Nova Lei de Licenciamento Ambiental', 'Programa Verde e Amarelo', 'Reformulação da legislação de concessões e Parcerias Público Privadas', 'Distribuição da Vacina do Coronavírus'] %>
      <%= f.input :project, label: 'Projeto', collection: ['9.687/2020', '9.253/2020', '8.756/2019', '7.897/2020', '6.872/2019', '9.955/2016', '8.526/2020', '7.415/2015', '9.516/2014', '9.753/2020', '1.598/2008', '3.576/2001', '6.583/2019', '3.698/2020', '1.478/2009', '2.587/2020', '5.612/2020', '9.874/2002', '9.325/2020', '9.911/2020', '6.611/2014', '9.265/2012', '8.890/2005', '9.321/2003', '9.426/2017', '1.234/2018', '4.567/2020'] %>

    </div>

    <div class="w-100 p-2">

      <%= f.input :name, label: 'Nome' %>
      <%= f.input :description, label: 'Descrição' %>

      <div class="form-actions">
      <br>
        <center><%= f.button :submit, 'Criar', class: 'btn btn-primary' %></center>
      </div>

    </div>

  </div>

<% end %>
