<%= simple_form_for @emmend do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="font-weight-bold display-4 text-center">
  RELATE!
  </div>
  <br>
  <br>

  <div class="form-inputs d-flex">
    
    <div class="w-50 p-2">

      <%= f.input :thema, label: 'Tema', collection: ['Monopólio das Teles', 'Meio Ambiente', 'Saúde', 'Segurança Pública'] %>
      <%= f.input :project, label: 'Projeto', collection: ['5G', 'Queimadas no Pantanal', 'Vacina Coronavírus', 'Unificação das Forças Policiais'] %>

    </div>
    
    <div class="w-100 p-2">

      <%= f.input :name, label: 'Nome' %>
      <%= f.input :description, label: 'Descrição' %>

      <div class="form-actions">
      <br>
        <center><%= f.button :submit, 'Criar', class: 'btn btn-primary' %></center>
      </div>

    </div>  

  </div>

<% end %>
