<%= simple_form_for @emmend do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <center><h1>RELATE!</h1></center>

  <div class="form-inputs d-flex">
    
    <div class="p-3">

      <%= f.input :thema, label: 'Tema', collection: ['Monopólio das Teles', 'Meio Ambiente', 'Saúde', 'Segurança Pública'] %>
      <%= f.input :project, label: 'Projeto', collection: ['5G', 'Queimadas no Pantanal', 'Vacina Coronavírus', 'Unificação das Forças Policiais'] %>

    </div>
    
    <div class="p-3">

      <%= f.input :name, label: 'Nome' %>
      <%= f.input :description, label: 'Descrição' %>

      <div class="form-actions">
        <%= f.button :submit, 'Criar', class: 'btn btn-primary' %>
      </div>

    </div>  

  </div>

<% end %>
