<p id="notice"><%= notice %></p>

 <%#= form_tag emmends_path, method: :get do %>
    <%#= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Encontre uma Emenda!"
    %>
    <%#= submit_tag "Pesquisar", class: "btn btn-primary" %>
  <%# end %>


<%#= link_to 'Nova Emenda', new_emmend_path %>

<div class="container my-5">

  <div class="cards">

    <% @emmends.each do |emmend| %>

      <div class="card-category">

        <div>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>

        </div>

        <div class="my-3" >
          <h2><%= "#{emmend.project}" %></h2>
        </div>

        <div class="my-3">
          <h3><%= link_to "#{emmend.thema}", emmend, class: "btn-show" %></h3>
        </div>



        <div class="row justify-content-center">
          <div class="col-sm-8 text-center">

            <div class="d-flex flex-wrap justify-content-center pt-4">

              <div class="clickable">
                <i class="far fa-star"></i>
              </div>

               <div class="clickable">
                <i class="far fa-star"></i>
              </div>

               <div class="clickable">
                <i class="far fa-star"></i>
              </div>

               <div class="clickable">
                <i class="far fa-star"></i>
              </div>

               <div class="clickable">
                <i class="far fa-star"></i>
              </div>

            </div>
          </div>
        </div>



        <% if current_user == emmend.user %>

          <%= link_to edit_emmend_path(emmend), class: "btn-edit mx -3 my-3" do %>
            <i class="far fa-edit"></i>
          <% end %>

          <%= link_to emmend, method: :delete, data: { confirm: 'Você tem certeza que quer mandar esse item para a lixeira ?' }, class: "btn-delete my-3 mx-3" do %>
            <i class="far fa-trash-alt"></i>
          <% end %>

        <% end %>

      </div>
    <% end %>

  </div>

</div>















