<p id="notice"><%= notice %></p>

 <%= form_tag emmends_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Encontre uma Emenda!"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>


<%= link_to 'Nova Emenda', new_emmend_path %>







    <!-- table emmends

    name
    user.name

    thema

    description
    project
   -->








<div class="container">

  <div class="cards">

    <% @emmends.each do |emmend| %>

      <div class="card-category">
        <%= "#{emmend.name} - Criado por  #{emmend.user.name}" %>
        <%= link_to 'Show', emmend %>
        <% if current_user == emmend.user %>
          <%= link_to 'Edit', edit_emmend_path(emmend) %>
          <%= link_to 'Destroy', emmend, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>

  </div>

</div>



















