<p id="notice"><%= notice %></p>
 <%= form_tag emmends_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Encontre uma Emenda!"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

<%= link_to 'Nova Emenda', new_emmend_path %>

<ul>
  <% @emmends.each do |emmend| %>
  <li> <%= "#{emmend.name} - Criado por  #{emmend.user.name}" %>
    <%= link_to 'Show', emmend %>
      <% if current_user == emmend.user %>
      <%= link_to 'Edit', edit_emmend_path(emmend) %>
      <%= link_to 'Destroy', emmend, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
  </li>
</ul>

