<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @emmend.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @emmend.description %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @emmend.thema %>
</p>

<p>
  <strong>Projeto:</strong>
  <%= @emmend.project %>
</p>
<p>
  <strong>
  <%= @emmend.supporters.count %>
  Apoiadores
  </strong>
</p>

<%= link_to 'Voltar', emmends_path %>
<% if !@user_is_supporter %>
  <%= simple_form_for [@emmend,@support] do |f| %>
    <%= f.button :submit,'Apoie Você Também!', class:'btn btn-primary'%>
  <% end %>
<% else %>
  <a href="#" class="btn btn-primary"> "Obrigada por Apoiar!"</a>
<% end %>

