<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @emmend.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @emmend.description %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @emmend.thema %>
</p>

<p>
  <strong>Project:</strong>
  <%= @emmend.project %>
</p>
<%= @current_user %>
<%= link_to 'Back', emmends_path %>

<%= simple_form_for [@emmend,@support] do |f| %>
<%= f.button :submit, class:'btn btn-primary'%>
<% end %>
